.columContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.img-circle{
width: 50px;
height: 50px;
display: block;
margin-left: auto;
margin-right: auto;
}
#name,#email,#password,#birthdate,#profilePicUrl{
width: 300px;
height: 40px;
border-radius: 20px;
margin-left: auto;
margin-right: auto;
display:block;
margin-top: 10px;
padding: 10px;
}

.input-group-text{
height: 50px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px; 
margin-bottom: 10px;
}

.input-container {
display: -ms-flexbox; /* IE10 */
display: flex;
width: 100%;
margin-bottom: 15px;

}
.icon {
padding: 10px;
background: gray;
color: white;
width: 50px;
text-align: center;
margin-left: auto;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
.input-field {
width: 250px;
padding: 10px;
outline: none;
margin-right: auto;
display:block;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
.input-field:focus {
border: 2px solid gray;
}

.progress-bar {
border-radius: 5px;
margin-left: 20%;
}
.alert{
display: none;
}
