.columContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.img-circle{
width: 50px;
height: 50px;
display: block;
margin-left: auto;
margin-right: auto;
}
#name,#email,#password,#birthdate,#profilePicUrl{
width: 300px;
height: 40px;
border-radius: 20px;
margin-left: auto;
margin-right: auto;
display:block;
margin-top: 10px;
padding: 10px;
}
.loginButton{
background-color:  #E60022;
color: white;
border-radius: 20px;
width: 300px;
height: 50px;
margin-left: auto;
margin-right: auto;
display:block;
margin-bottom: 10px;
}
.signupButton{
background-color: #EFEFEF;
border-radius: 20px;
color: black;
width: 300px;
height: 50px;
margin-left: auto;
margin-right: auto;
display:block;
margin-top: 10px;
margin-bottom: 10px;
}
.signupButton-form{
background-color: #E60022;
border-radius: 20px;
color: white;
width: 300px;
height: 50px;
margin-left: auto;
margin-right: auto;
display:block;
margin-top: 10px;
margin-bottom: 10px;
}
.backButton{
background-color:  #E60022;
color: white;
width: 100px;
border-radius: 20px;
}

.input-group-text{
height: 50px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px; 
margin-bottom: 10px;
}

/* body{
padding:100px 0;
background-color:#efefef
}
a, a:hover{
color:#333
} */
.input-container {
display: -ms-flexbox; /* IE10 */
display: flex;
width: 100%;
margin-bottom: 15px;

}
.icon {
padding: 10px;
background: gray;
color: white;
width: 50px;
text-align: center;
margin-left: auto;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
.input-field {
width: 250px;
padding: 10px;
outline: none;
margin-right: auto;
display:block;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
.input-field:focus {
border: 2px solid gray;
}

.progress-bar {
border-radius: 5px;
margin-left: 20%;
}
.alert{
display: none;
}
